.Subscribe {
    display: flex;
    justify-content: center;
    &-LastName {
        margin-left: 10px;

    }
    &-Button {
        margin-left: 24px;

    }
    &-Input {
        width: 138px;
        height: 32px;
        &::placeholder {
            font-size: 10px;
            padding-left: 10px;
        }
    }
    &-Button {
        width: 100px;
        height: 32px;
        background: yellow;
        border-radius: 5%;
        text-align: center;
        padding-top: 6px;
    }
    &-Link {
        font-size: 12px;
    }
    &--Footer{
        width: 680px;
        margin: 0 auto;
        height: 200px;
        background: yellow;
        position: relative;
        top: 680px;
        align-items: center;
    }
}