.Subscribe {
    display: flex;
    justify-content: center;
    &-LastName {
        margin-left: 10px;

    }
    &-Button {
        margin-left: 24px;

    }
    &-Input {
        width: 138px;
        height: 32px;
        &::placeholder {
            font-size: 10px;
            padding-left: 10px;
        }
    }
    &-Button {
        width: 100px;
        height: 32px;
        background: yellow;
        border-radius: 5%;
        text-align: center;
        padding-top: 6px;
    }
    &--ButtonBlack {
        border: 1px solid black;
    }
    &-Link {
        font-size: 12px;
    }
    &--Footer{
        flex-wrap: wrap;
        width: 680px;
        height: 130px;
        margin: 0 auto;
        background: yellow;
        align-items: center;
    }
    &-FooterTitle {
        width: 100%;
        text-align: center;
        font-size: 13px;
        font-weight: normal;
    }
    &-FooterFoot {
        width: 100%;
        text-align: center;
        font-size: 8px;
        font-weight: normal;
    }
}