.Container {
    width: 970px;
    height: 2000px;
    margin: 0 auto;
    margin-top: 174px;
    border: 1px solid black;
    position: relative;
    background: white;
    z-index: 100;
    font-family: Arial, Helvetica, sans-serif;
}