.Background {
    &-Top {
        width: 100vw;
        height: 1400px;
        background: yellow;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    &-Bottom {
        width: 100vw;
        height: 1150px;
        background: skyblue;
        position: absolute; 
        top: 1400px;
        z-index: 1;
    }
}