.Phone {
    display: inline-block;
    position: relative;
    left: 62%;
    margin-top: 4%;
    margin-bottom: 5%;
    font-size: 12px;
    &-Img {
        width: 11px;
        height: 11px;

    }
    &--Foot {
        display: block;
        left: 0;
        margin-top: 6px;
        margin-right: 200px;
        margin-bottom: 0;
    }
}